.cardsCont{
    
  height: 700px;
  width: 1000px;
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.displayCards {
display: inline-block;

}
.imgCard{
  height: 200px;
  width: 180px;
  margin: 8px;
}